__pycache__/
*.py[cod]
*.pyd
.Python
env/
venv/
.venv/
pip-wheel-metadata/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/
dist/
build/
site/
*.egg-info/
*.egg
.idea/
.vscode/
*.log

.env

uploads/